<h1>Bonjour les #GossipAddicts,</h1>

<p>Tu peux poster un nouveau gossip dans le formulaire.</p>

<html>
  <body>
    <!-- ... -->

    <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'Titre du gossip' %><br>
      <%= text_field_tag 'title'  %>
      <br /> <br />

      <%= label_tag 'Dis nous tout' %><br>
      <%= text_area_tag 'content'  %>
      <br /> <br />

      <%= submit_tag "Create Post" %>

    <% end %>

    <!-- ... -->
  </body>
</html>