<br><br><h1>Bienvenue sur la page du gossip n° <%= @gossip.id %></h1><br><br>
<h3>Il a été écrit par : <%= @gossip.user.first_name %> --> <a <%= link_to "Page de " +@gossip.user.first_name, user_path(:id => @gossip.user_id) %> </a></h3> 
<br><br><hr></hr>

<p>Titre du gossip : <%= @gossip.title%></p>
<p>Voici le gossip : <%= @gossip.content%></p>
<p>Ville de l'auteur : <%= @gossip.user.city.name%></p>
<p>Crée le : <%= @gossip.created_at%></p>
<br><br>


<% if current_user == @gossip.user%>

<a class="btn btn-dark"<%= link_to "Modifier le gossip", edit_gossip_path(@gossip.id)%> </a>

<a href="<%= @gossip %>" class="btn btn-danger" data-confirm=" Go ?" data-method="DELETE">Supprimer</a>

<a class="btn btn-dark"<%= link_to "Comment", new_comment_path(@gossip.id)%> </a>

<% end %>

<hr></hr>

<h1>Les commentaires</h1>


	



